/*=============================================================================
                                GENERAL
=============================================================================*/
p {
    font-size: 0.9rem;
}


/*=============================================================================
                                TOOLBAR
=============================================================================*/
.toolbar {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}
    .toolbar > div {
        flex: 1;
        padding: 12px 24px;
        /* border: 1px dashed; */
    }
        .toolbar > div > p {
            font-weight: bold;
        }
    .toolbar_item_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
        .toolbar_item p {
            padding: 4px 8px;
        }
        /* #upload_button, #delete_button {
            align-self: center;
            display: block;
            width: 144px;
            color: var(--color_grey);
            background-color: var(--color_accent);
            margin-left: 12px;
            border: 0;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }
        #upload_button:hover {
            color: var(--color_primary_dark);
            cursor: pointer;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }
        #delete_button:hover {
            color: var(--color_primary_dark);
            cursor: pointer;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
        } */
/*---------------------------------------------------------------------------*/

/*=============================================================================
                                CONTENT
=============================================================================*/
#content {
    position: relative;
    padding: 48px 48px;
}
