<div class="toolbar">
    <div class="title">
        <p>Grades</p>
    </div>
    <div class="toolbar_item_container">
        <div class="toolbar_item">
            <p>I</p>
        </div>
        <div class="toolbar_item">
            <p>P</p>
        </div>
    </div>
</div>


<div id="content">
    <div id="total_container">
        <div class="">
            <p class="text_title">Total</p>
        </div>
        <div id="total_stats_container">
            <div class="">
                <div></div>
                <div></div>
                <div class="">
                    <p><b>Score</b></p>
                </div>
                <div class="">
                    <p><b>Grade</b></p>
                </div>
            </div>
            <div class="">
                <div class="">
                    <p>Cumulative</p>
                </div>
                <div class="">
                    <p>This is a line</p>
                </div>
                <div class="">
                    <p>250/500</p>
                </div>
                <div class="">
                    <p>50%</p>
                </div>
            </div>
            <div class="">
                <div class="">
                    <p>Weighted</p>
                </div>
                <div class="">
                    <p>This is a line</p>
                </div>
                <div class="">
                    <p>89/100</p>
                </div>
                <div class="">
                    <p>89%</p>
                </div>
            </div>
        </div>
    </div>

    <div id="dynamic_input_grades_container">
        <div class="category_container">
            <!-- Dynamic portion -->
            <div class="category_title">
                <h3>Assignments</h3>
            </div>
            <div class="category_content">
                <div class="category_heading">
                    <div class="">
                        <p>Name</p>
                    </div>
                    <div class="">
                        <p>Due Date</p>
                    </div>
                    <div class="">
                        <p>Points Possible</p>
                    </div>
                    <div class="">
                        <p>Score</p>
                    </div>
                </div>
                <!-- Dynmaic portion -->
                <div class="category_grades">
                    <div>
                        <div class="">
                            <p>Assignment 5</p>
                        </div>
                        <div class="">
                            <p>April 25, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Assignment 4</p>
                        </div>
                        <div class="">
                            <p>April 15, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p></p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Assignment 3</p>
                        </div>
                        <div class="">
                            <p>April 5, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>80</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Assignment 2</p>
                        </div>
                        <div class="">
                            <p>March 31, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>99</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Assignment 1</p>
                        </div>
                        <div class="">
                            <p>March 25, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>78</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="category_container">
            <!-- Dynamic portion -->
            <div class="category_title">
                <h3>Quizzes</h3>
            </div>
            <div class="category_content">
                <div class="category_heading">
                    <div class="">
                        <p>Name</p>
                    </div>
                    <div class="">
                        <p>Due Date</p>
                    </div>
                    <div class="">
                        <p>Points Possible</p>
                    </div>
                    <div class="">
                        <p>Score</p>
                    </div>
                </div>
                <!-- Dynmaic portion -->
                <div class="category_grades">
                    <div>
                        <div class="">
                            <p>Quiz 5</p>
                        </div>
                        <div class="">
                            <p>April 25, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>23</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Quiz 4</p>
                        </div>
                        <div class="">
                            <p>April 15, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>67</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Quiz 3</p>
                        </div>
                        <div class="">
                            <p>April 5, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>80</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Quiz 2</p>
                        </div>
                        <div class="">
                            <p>March 31, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>99</p>
                        </div>
                    </div>
                    <div>
                        <div class="">
                            <p>Quiz 1</p>
                        </div>
                        <div class="">
                            <p>March 25, 11:59pm</p>
                        </div>
                        <div class="">
                            <p>100</p>
                        </div>
                        <div class="">
                            <p>78</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
