<div id="header_container">
    <h1 id="header_title_default">Welcome to CSE 100</h1>

    <div id="header_title">
    </div>
</div>

<mat-tab-group color="accent">
    <mat-tab label="CSE 100">
        <ng-template matTabContent>
            <div class="content">
                <p>This is the home</p>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Course Overview">
        <ng-template matTabContent>
            <div class="content">
                <p>This is the course overview</p>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
