/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "./theme.scss"; */
/*=============================================================================
                                THEME AND COLORS
=============================================================================*/
/* Default Light Theme */
:root {
    --primary: #212121;
    --primary-light: #484848;
    --primary-dark: #000000;

    --primary-hover: #424242;
    --primary-active: #616161;

    --on-primary: #FFFFFF;
    --on-primary-inactive: #9E9E9E;
    /* --accent: #FFEE58; */

    --accent: #FFEB3B;
    --accent-hover: #FDD835;
    --accent-active: #FBC02D;

    --on-accent: #212121;
    --on-accent-hover: #FFFFFF;

    --background: #FAFAFA;
    --background-dark: #E0E0E0;
    --on-background: #616161;

    --surface: #FAFAFA;
    --surface-dark: #BDBDBD;
    --surface-darker: #888888;
    --surface-hover: #E0E0E0;
    --surface-active: #BDBDBD;

    --surface-card: #FDFDFD;
    --on-surface-card: #FFC519;

    --on-surface: #616161;
    --on-surface-hover: #444444;
    --on-surface-active: #212121;
    --on-surface-inactive: #9E9E9E;

    --error: #B00020;
    --on-error: #FFFFFF;

    --warning: #B00020;
    --on-warning: #FFFFFF;

    --action: #FFEB3B;
    --action-hover: #212121;
    --action-active: #424242;
    --action-disabled: #CECECE;

    --on-action: #212121;
    --on-action-hover: #FFFFFF;
}
/*---------------------------------------------------------------------------*/

/*=============================================================================
                                GLOBAL STYLES
=============================================================================*/
* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
p, nav a {
    font-size: 0.9rem;
}

input {
    padding: 12px 20px;
    border: 1px solid #CCC;
}
button {
    font-weight: bold;
}

/*=============================================================================
                                GLOBAL CLASSES
=============================================================================*/
/* Quill */
.ql-tooltip {
    z-index: 10;
}
